/* 
    Document   : tickets.css
    Created on : Dec 11, 2012, 8:04:05 PM
    Author     : duynguyen
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}


tr.highest {
  background-color: red !important;
}
tr.highest {
  color: white !important;
}
tr.high {
  background-color: orange !important;
}
tr.normal {
  background-color: yellow !important;
}
tr.lowest {
  background-color: white !important;
}
tr.low {
  background-color: blue!important;
}
tr.low {
  color: white !important;
}
div.assigned span, div.assigned div{
  float: left;
  text-align: center;
}
div.assigned span {
  line-height: 20px;
  margin-top: 5px;
  font-weight: bold;
}

.view-ticket-assigned tr td {
  background: none;
  border: none;
  position: relative;
  width: 100%;
}
.view-ticket-assigned tr {
  border: 2px solid black;

  margin-top: 3px;
  width: 97.5%;
  float: left;
}
/*.view-ticket-assigned div.delete-link , .view-ticket-assigned div.edit-link{
  float: right;
}*/

.view-ticket-assigned div.delete-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}
.view-ticket-assigned div.delete-link a{
  background: url("icon_delete.png") no-repeat 0 0;
  width: 50px;
  height: 50px;
  float: left;
  border: none;
  font-size: 0px;
  text-indent: -9999px;
}
.view-ticket-assigned div.edit-link {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 25px;
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}
.view-ticket-assigned caption {
  text-align: left;
  border: 2px solid black;
  padding: 5px;
  background: gray;
  color: black;
  font-weight: bold;
   
}
.view-ticket-assigned  h2.title {
  color: black;
  font-weight: bold;
  font-size: 12px!important;
}
.view-ticket-assigned .ticket-content{
  margin-left: 20px;
  float: left;
}

.view-ticket-assigned a.tabledrag-handle {
  position: absolute;
  top: 40%;
  left: 0;
}

.view-ticket-assigned .tabledrag-toggle-weight-wrapper {
  display: none;
}


/**Ticket comments css **/
form#ticket-comments-form div.field-name-ticket-category-importance ,
form#ticket-comments-form div.field-name-ticket-entity-reference-user,
form#ticket-comments-form div.field-name-ticket-category-state {
  float: left;
  width: auto;
}
form#ticket-comments-form div.field-name-ticket-comments-body {
  float: left;
  width: 100%;
}
form#ticket-comments-form div.submit {
  float: left;
  
}